{% extends "base.j2" %}

{% block main -%}
<article class="post">
    <div id="post-content">
    {% filter markdown|typogrify -%}
        {% block post -%}{%- endblock %}
    {%- endfilter %}
    {% if resource.meta.comment %}
    <div id="post-comment">
        <a class="switch" href="" onclick="return false;">展开/关闭评论</a>
        <div class="disqus">
        {% include "disqus.j2" %}
        </div>
    </div>
    {% endif %}
</article>
{%- endblock %}
{% block scripts %}
{% endblock scripts %}
{% if resource.meta.comment %}
{% block on_ready %}
    $('a.switch').on('click',function(){
        $(this).next().slideToggle(100);
    });
{% endblock %}
{% endif %}
