{% extends "base.j2" %}

{% block main %}
<div class="section-tag-archives">
<h2 class="tag title">标签为"{{ tag.name }}"的文章</h2>
<ul class="posts clear">
    {% for res in walker() -%}
    <li class="post clear">
        <a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
        <span class="snip">{{ res.meta.description }}</span>
        <div>
            <span class="date right">
                {{res.meta.author}}:{{ res.meta.created.strftime('%Y-%m-%d %H:%M:%S') }}
            </span>
        </div>
    </li>
    {%- endfor %}
</ul>
</div>
{% endblock %}
