{% extends "base.j2" %}

{% block main %}
<div class="section-tags">
    <h2>Tag Cloud-标签云</h2>
    <p>
    {% set N = site.res_count %}
    {% for tagname, tag in site.tagger.tags -%}
    {# font-size: 12px-48px #}
    {% set count = tag.resources|length %}
    <a class="tagcloud" style="font-size:{{12 + (count/N)*36}}px" rel="tag" title="{{count}}个主题" href="{{ content_url('blog/tags/'~tag) }}">
        {{ tagname }}
    </a>
    {% endfor %}
    </p>
</div>
{% endblock %}
